.card-canvas {

}

.card-content {
  margin: 3% 3% 5% 3%;
}

.card-title {
  font-size: 1.2rem;
  font-weight: 500;
}

.card-todo-content {
  color: #DDE0E5;
  font-size: 0.8rem;
  font-weight: 300;
}

.delete-todo-button {
  border: 0;
  background-color: transparent;
  color: #FFFFFF;
}
