* {
  margin: 0;
}

@font-face {
  font-family: "WorkSans-Light";
  src: url(./Assets/WorkSans-Light.ttf);
}

@font-face {
  font-family: "WorkSans-Regular";
  src: url(./Assets/WorkSans-Regular.ttf);
}

@font-face {
  font-family: "WorkSans-SemiBold";
  src: url(./Assets/WorkSans-SemiBold.ttf);
}

.WorkSansLight { font-family: 'WorkSans-Light'; }
.WorkSansRegular { font-family: 'WorkSans-Regular'; }
.WorkSansSemiBold { font-family: 'WorkSans-SemiBold'; }


body {
  background-color: #212127;
}

.form {
  max-width: 600px;
  margin: auto;    
}

.header {
  background-color: #2A2B33;
  color: #FFFFFF;
  height: 50px;
  text-align: center;
}

.todo-content-area {
  margin-top: 5%;
}

.create-button-canvas {
  position: fixed;
  bottom: 2%;
  right: 3%;
}

.create-button {
  background-color: #DDE0E5;
  border: 0;
  border-radius: 50%;
  font-size: 1.8rem;
  width: 110%;
}

.logout-button {
  border: 1px solid #FFFFFF;
  border-radius: 15px;
  background-color: transparent;
  color: #FFFFFF;

  margin-top: 1%;
  margin-bottom: 5%;
}

.login-canvas {
  color: #FFFFFF;
  text-align: center;
}

.auth-redirect-button {
  background-color: transparent;
  border: 0;
  color: #FFFFFF;
  font-style: italic;
  margin-top: 5%;
}

.hyperlink-text {
  color: #0081FF;
}
